---
layout: default
---

<div class="content">
    {{ content }}
</div>

  <div class='column is-full has-text-centered'>
    <div class='card equal-height'>
      <div class='card-content'>
<!-- Place image inside .level within your card element -->
        <nav class="level">
          <div class="level-item has-text-centered">
            <figure class='image is-64x64'><img src="{{ page.image }}"></figure>
          </div>
        </nav>
        <!-- And it'll be centered like so -->

        <div class="media-content">
          <div class="level-item has-text-centered">
            <p class="title is-4">Grupo de Fotoquímica y Materiales<br>PhotoMat</p>
          </div>
          <div class="level-item has-text-centered">
            <p class="subtitle is-6">Universidad Nacional de Río Cuarto</p>
          </div>
        </div>

      </div>
    </div>
  </div>
