---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-2">
        <figure class="image is-4by5">
            <img src="{{ page.image }}" />
        </figure>
    </div>

    <div class="column is-6">
        <!-- <p class="title is-4">{{ page.title }}</p> -->
        <!-- <p class="subtitle is-4">{{ page.subtitle }}</p> -->
        <!-- <p class="title is-3">{{ page.dpto }}</p> -->
        <p> {{ page.title }} </p>
        <p> {{ page.dpto }} </p>
        <a href="https://{{ page.cv }}">CV - </a>
        <a href="https://orcid.org/{{ page.orcid }}">ORCID - </a>
        <a href="https://scholar.google.com/citations?user={{ page.gscholar }}">Google Scholar</a>
        <!-- <p class="subtitle is-5">e-mail: {{ page.email }}</p> -->
        <p> e-mail: {{ page.email }}</p>
        <p> Skype: {{ page.skype }}</p>
        {% if page.telegram %}
        <p> Telegram: {{ page.telegram }}</p>
        {% endif %}
        <!-- <p class="subtitle is-5">Skype: {{ page.skype }}</p> -->
        {% if page.product_code %}
        <p class="subtitle is-5 has-text-right">{{ page.product_code }}</p>
        {% endif %}

        {% if page.rating %}
            {% include rating.html rating=page.rating %}
        {% endif %}

        {% if page.features %}
        <div class="content">
            {% for feature in page.features %}
            <p>
                <span class="icon">
                    {% if feature.icon %}
                    <i class="fas {{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span>
                <span>{{ feature.label }}</span></p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="column is-12">
        <p class="title is-4">Descripción</p>
        <div class="content">

            {{ content }}

        </div>
    </div>

    {% if site.data.reviews[page.product_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.product_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

</div>
<div class="columns">
  <div class="column is-4 is-offset-4">

    <figure class="image">
      <img src="/img/photomat-logo-white.png">
    </figure>

  </div>
</div>
